* {
   padding: 0;
   margin: 0;
}

.webFrame {

}

#controls {
  padding: 3px;
  border-bottom: solid 1px #ccc;
  background-color: #eee;
}
#pages {
  padding: 3px;
  border-bottom: solid 1px #ccc;
  background-color: #eee;
}
