* {
   padding: 0;
   margin: 0;
}

.webFrame {

  display:inline-flex;
}

#controls {
  padding: 3px;
  border-bottom: solid 1px #ccc;
  background-color: #eee;
}
#controls button,
#controls input {
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 6px;
}
